@font-face {
    font-family: 'QucikSand';
    src: url(Fonts/Quicksand-Regular.woff2) format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'Righteous';
    src: url(Fonts/Righteous-Regular.woff2) format('woff2');
    font-display: swap;
}

body {
    background-image: linear-gradient(#cd8742 5%,#5e3613 20%, #1b1612, #1B1613); 
    font-size: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background-image: url(https://ik.imagekit.io/po58pqsvl/Images/buried-sun-disc.webp?updatedAt=1682435762101);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center; 
    height: 90vh;
    width: 90vw;
    margin: 3.5em 2em;
    border-radius: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 0.3em solid #e4892d;
}


header h1,
header h2 {
    color: #e4892d;
    font-family: 'Righteous', sans-serif;
    letter-spacing: 0.2rem;
    background-color: #ffffff92;
    padding: 0.5em;
    border-radius: 5rem;
    margin: 0em 0.5em;
}

h1 {
    font-size: 2.5rem;
    text-align: center;
    padding: 0.8em;
}

h2 {
    font-size: 1.8rem;
    text-align: center;
}

section {
    background-image: linear-gradient(#e4892d, #1b1612);
    border-radius: 5rem;
    padding: 0.3rem;
    margin: 0em 32em;
}

section > article {
    background-image: url(https://ik.imagekit.io/po58pqsvl/Images/ShurimaCity.webp?updatedAt=1682435761862);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 48% 0%;
    padding-bottom: 5em;
    border-radius: 5rem;
    width: 90vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}


section div{
    margin-bottom: 10em;
    width: 80vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

section div img:first-of-type,
section div img:last-of-type  {
    height: 30vh;
    width: auto;
    border-radius: 5rem;
    margin-top: 10em;
}

section p {
    color: #e4892d;
    text-align: center;
    font-size: 1.6rem;
    padding: 3em 2em;
    margin: 0em 5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'QucikSand', sans-serif;
    background-color: #0c0a0a92;
    width: 50vw;
}

section p:after {
    content: " ";
    background-color: #e4892d;
    padding: 0.1em 6em;
    margin-top: 2.5em;
}

section p:first-of-type {
    border-radius: 5rem 5rem 0 0;
}

section p:last-of-type {
    border-radius: 0 0 5rem 5rem;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer p {
    color: #e4892d;
    text-align: center;
    font-size: 1.6rem;
    background-color: #0c0a0a92;
    padding: 0.5em;
    border-radius: 5rem;
    font-family: 'QucikSand', sans-serif;
}




/* Mobile */

@media only screen and (max-width: 615px) {
    section > article {
        padding: 1em 0em;
    }

    section p {

        padding: 1.5em 2em;
    }
    
    section p:after {
        padding: 0.1em 4em;
    }

    section div {
        flex-direction: column;
        align-items: center;
    }
    
}


